@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme{
    --font-lato: "Lato", sans-serif;
    --font-playfair : "Playfair Display", serif;
    --font-oswald : "Oswald", sans-serif;
    --font-montserrat : "Montserrat", sans-serif;

    /* colors */
    --color-primary-white : #ffffff;
    --color-secondary-white : #F9F8F6;
    --color-primary-black : #1f2937;
};

@theme inline {
    --animate-aurora: aurora 60s linear infinite;
    @keyframes aurora {
      from {
        background-position:
          50% 50%,
          50% 50%;
      }
      to {
        background-position:
          350% 50%,
          350% 50%;
      }
    }
  }

  @theme inline {
    --animate-meteor-effect: meteor 5s linear infinite;
    
    @keyframes meteor {
      0% {
        transform: rotate(215deg) translateX(0);
        opacity: 1;
      }
      70% {
        opacity: 1;
      }
      100% {
        transform: rotate(215deg) translateX(-500px);
        opacity: 0;
      }
    }
  }


@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
